<div class="jumbotron">
  <div class="container">
    
    
  <% if logged_in? %>
  
    <h1>Welcome back!</h1>
    <p class="lead">
      You have signed in!  If this were a real app some sweet content
      would go here.  But it's just a test.  You might want to sign out now.
    </p>
    <%= link_to "Sign Out", "/logout", :class => 'btn btn-large btn-danger' %>
    
  <% else %>
  
      <div class="row text-center">
        <h1>Welcome, new user!</h1>
        <p class="lead">
          You must sign in or sign up before you can access this awesome auto dashboard.
        </p>
      </div>
      
      <div class="row text-center">
        <div class="col-xs-6">
          <%= link_to "Sign In", "/login", :class => "btn btn-success" %>
        </div>
        <div class="col-xs-6">
          <%= link_to "Sign Up", new_user_path, :class => "btn btn-success" %>
        </div>
      </div>    
      
  <% end %>
  
  </div>
</div>

