// Place all the styles related to the autos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auto_preview {
  border: 1px solid black;
  border-top: 0px;
  margin: 10px;
}

/*.col-sm-12 {
  padding-right: 0;
  padding-left: 0;
}

.col-sm-6 {
  padding-right: 0;
  padding-left: 0;
}*/

.auto_preview h2 {
  background-color: black;
  color: white;
}

.auto_preview a {
  color: white;
}

.auto_preview a:hover {
  color: gray;
}

/*.auto_preview img {
  margin-top: -10px;
  display: inline-block;
}

@media (max-width: 440px) {

  .auto_preview_img {
    display: none;
  }

}*/

.auto_preview_stats p strong {
    font-size: 64px;
    font-weight: 200;
    margin-bottom: 0;
    height: 75px;
}

.auto_preview_stats p {
    display: block;
    font-size: 10px;
    fnt-style: normal;
    font-weight: 700;
    margin: -5px;
}

/*.auto_preview_stats_minor {
  background-color: gray;
  color: orange;
}*/

.auto_preview_stats_minor p {
    display: block;
    font-size: 10px;
    fnt-style: normal;
    font-weight: 700;
    margin: 0 -9px;
}


.top-buffer { 
  margin-top:20px; 
 }