// Place all the styles related to the autos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "http://github.hubspot.com/odometer/themes/odometer-theme-car.css";



/*******************/
/*** Autos Index ***/
/*******************/

.auto_preview {
  border: 1px solid black;
  border-top: 0px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.auto_preview h2 {
  background-color: #15224f;
  color: white;
  margin: 0;
  padding: 8px;
  margin-right: -10px;
  margin-left: -10px;
}


.auto_preview_stats {
    display: block;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    color: #404040;
    
}

.auto_preview_stats strong {
    font-size: 48px;
    font-weight: 200;    
    margin-bottom: 0;
    height: 75px;
}

.auto_preview_stats em {
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    margin-top: -10px;
    color: #606060;
}

.auto_preview_stats_minor {
    display: block;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 50px;
}

.auto_preview_stats_minor em {
    display: block;
    font-size: 12px;
    font-style: normal;
    margin-top: -6px;
}

.top-buffer { 
  margin-top:50px; 
 }
 
 
.dashboard-vehicle-image.car {
    background: url(/assets/27-512.png) no-repeat center center;
}

.dashboard-vehicle-image {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: top;
    text-indent: -9999px;
}


.col-xs-image-4 {
  width: 30%;
  float: left;
}
  

@media (max-width:691px){
  .col-xs-8 {
     width:95%;
   }

  .col-xs-image-4{
     width:99%;
   }   
}


@media (max-width:500px){
  .auto_preview_stats_minor {
      font-size: 16px;
      font-weight: bold;
  }
  
  .auto_preview_stats_minor em {
      font-size: 10px;
      margin: -4px 0;
  }    
  
  .dashboard-vehicle-image {
    display: none;
  }
}

.linkable:hover {
    background-color: #C8C8C8;
}


/******************/
/*** Autos Show ***/
/******************/

.auto-info {
  padding-bottom: 20px;
}

.show-title {
  font-size: 3.5em;
}

.odometer {
    font-size: 3em;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
  margin: 20px 0;
}

.stat-title {
  font-size: 2.5em;
  color: #5d645c;
}

.stat-box {
    /*background-color: #FFF;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 20px 0;*/
}

.stat-box.panel-body {
  padding: 3px;
}

.stat-box-mpg h5 {
  font-size: 3em;
  font-weight: bold;
}

.stat-box-cost h5 {
  font-size: 2em;
  font-weight: bold;
}

.stat-box-color-callout {
  color: #ffaa00;
}

.stat-box p {
  font-size: .9em;
  font-weight: bold;
}

