.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
    margin-top: 60px;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}




/*
$backgroundColor: #ddd;
$contentBackgroundColor: #fff;
$hoverColor: #999;
$textColor: #333;
$width: 960px;
$navColor: #ccc;


body{
 background-color: $backgroundColor;
 color: $textColor;
}

.container {
  background-color: $contentBackgroundColor;
  margin: 0 auto;
 
  @media only screen and (min-width: $width) {
    width: $width;
  }
 
  @media only screen and (max-width: $width -1) {
    width: 90%;
  }
}

main, .container > header, .container > footer {
  padding: 1%;
}

footer {
  text-align: center;
}

nav {
  background-color: #ccc;
  text-align: center;

  &>a {
    color: inherit;
    padding: 1%;
    text-decoration: none;

    &:hover, &:focus {
      color: $hoverColor;
    }
  
  }
 
}
*/
